body{
    display: block;
    font-family: 'Helvetica', sans-serif;
}

button{
    cursor: pointer;
}

span{
    font-size: 24px;
    margin-right: 105px;
}

.lang_link{
    color: rgb(160,206,200);
    text-decoration: underline;
    cursor: pointer;
}

#header{
    display: inline;
}

#info_text {
    background-color: #6BCABA;
    padding: 5px;
    width: 590px;
    color: white;
    margin-bottom: 10px;
}

#input_area, #input_area_buttons, #result_area_buttons{
    display: none;
}

#input_area_buttons, #result_area_buttons {
    max-width: 600px;
    max-height: 30px;
}

#input_area, #curriculum_choice_area {
    margin-bottom: 10px;
    padding: 10px;
    border-style: solid;
    border-color: #6BCABA;
    width: 574px;
}

#abroad_input_area {
    display: none;
}

#result_padding {
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    width: 574px;
    display: none;
    border-style: solid;
    border-color: #6BCABA;
}

#error, #result_error {
    margin-top: 10px;
    color: red;
    font-weight: bold;
}

#result_error {
    display: none;
}

#calculate_button, #continue_button, #result_calculate_button, #pdf_save_button{
    padding: 5px;
    font-size: 14px;
    background-color: #6BCABA;
    color: white;
    border: none;
}

#continue_button{
    margin-left: 536px;
    width: 60px;
}

#calculate_button{
    float: right;
}

#result_calculate_button{
    float: right;
}

#pdf_save_button{
    float: right;
    margin-right: 4px;
}

#back_button, #new_calculation_button{
    padding: 5px;
    font-size: 14px;
    opacity: 0.5;
    color: rgb(85, 85, 85);
    background-color: white;
    border-style: solid;
    border-color: rgb(141, 141, 141);
    transition-duration: 0.8s;
}

input[type=number] {
    float: right;
    width: 40px;
}

#curriculum_dropdown {
    float: right;
}

#results{
    display: none;
    margin-top: 10px;
    padding: 10px;
    border-style: solid;
    border-color: #6BCABA;
    width: 547px;
}

#back_button:hover, #new_calculation_button:hover{
    opacity: 1;
}

#result_padding p {
    margin-top: 2px;
    margin-bottom: 2px;
}

.fa{
    font-size: 14px;
    color: rgb(109,204,188);
}

.fa_tekst{
    display: none;
}

.help_button{
    position: relative;
    display: inline-block;
}
  
.help_button .help_txt{
    visibility: hidden;
    font-size: 12px;
    background-color: rgb(109,204,188);
    color: white;
    padding: 10px;
    text-align:initial;
    border-radius: 20px;
    position: absolute;
    top: -9px;
    margin-left: 5px;
}

.help_button:hover .help_txt{
    visibility: visible;
}
