html, body{
    height: 100%;
    display: block;
    font-family: 'Helvetica', sans-serif;
    margin-left: 20px;
}

#whole_page_area{min-height: 92%;}

.errorMsg{width: 600px;}

canvas {
	background-color: white;
	margin: 0px;
}

#canvas_graph{
    outline: white 1px solid;
    box-sizing: padding-box;
}

button{
    cursor: pointer;
    padding: 5px;
}

button:hover{
    opacity: 0.9;
}

button:active {
	position:relative;
	top:1px;
}

#heading{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 13px;
}

a, p, #infosystem{font-size: 14px;}

#help_link, #mainpage{
    color: rgba(76,134,123,255);
    text-decoration: underline;
    cursor: pointer;
}

#link_line{
    color: rgb(16, 16, 16);
    text-decoration: none;
}

#ee{
    color: rgb(16, 16, 16);
    text-decoration: none;
    font-weight: none;
    cursor: pointer;
}

#en{
    color: rgba(76,134,123,255);
    text-decoration: none;
    cursor: pointer;
}

#mainpage{margin-right: 340px;}

#free, .yes{margin-left: -1px;}

#free_label, .yes_label{margin-right: 20px;}

#info_text {
    background-color: rgba(107,203,186,255);
    padding: 5px;
    width: 589px;
    color: white;
    margin-bottom: 10px;
}

#input_area, #input_area_buttons, #result_area_buttons{display: none;}

#input_area_buttons, #result_area_buttons {
    max-width: 599px;
    max-height: 30px;
}

#input_area, #curriculum_choice_area {
    font-size: 14px;
    margin-bottom: 10px;
    padding: 10px;
    border-style: solid;
    border-color: rgba(107,203,186,255);
    width: 573px;
}

#abroad_input_area {display: none;}

#result_padding {
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    width: 573px;
    display: none;
    border-style: solid;
    border-color: rgba(107,203,186,255);
    font-size: 14px;
}

#error, #result_error {
    color: red;
    font-weight: bold;
    max-width: 599px;
    white-space: pre-wrap;
}

#result_error {display: none;}

.green_btn{
    background-color: rgb(107,203,186);
    color: white;
    border: none;
    box-shadow:inset 0px 1px 0px 0px rgb(107,203,186);
	background:linear-gradient(to bottom, rgb(138, 209, 196) 5%, rgb(73, 204, 180) 100%);
}

.white_btn{
    opacity: 0.5;
    color: rgb(85, 85, 85);
    background-color: white;
    border-style: solid;
    border-color: rgb(141, 141, 141);
    transition-duration: 0.8s;
}

#continue_button{
    margin-left: 539px;
    width: 60px;
}

#calculate_button{float: right;}

#result_calculate_button{float: right;}

#clipboard_pic{filter: brightness(0) invert(1);}

#clipboard_copy_button{
    float: right;
    margin-top: -6.6px;
    margin-right: 2px;
    transform: scale(0.646);
    background-color: rgb(107,203,186);
}

#pdf_save_button{
    float: right;
    margin-right: 9px;
}

input[type=number] {
    float: right;
    width: 40px;
}

#curriculum_dropdown {float: right;}

#results{
    display: none;
    margin-top: 10px;
    padding: 10px;
    border-style: solid;
    border-color: rgba(107,203,186,255);
    width: 546px;
}

#results div{margin-top: 10px;}

#result_padding p {
    margin-top: 2px;
    margin-bottom: 2px;
}

.fa{
    font-size: 14px;
    color: rgb(107,203,186);
}

.fa_tekst{display: none;}

.help_button{
    position: relative;
    display: inline-block;
}
  
.help_button .help_txt{
    visibility: hidden;
    font-size: 12px;
    font-weight: bold;
    background-color: rgb(107,203,186);
    color: white;
    padding: 10px;
    text-align:initial;
    border-radius: 20px;
    position: absolute;
    top: -9px;
    margin-left: 5px;
}

.help_button:hover .help_txt{visibility: visible;}
